<%= render "nav" =%>
<nav class="nav mx-auto">
<a class="nav-link" href="/properties/show/">All</a>
  <% @statuses.sort { |a,b| a.id <=> b.id }.each do |status| %>
  <a class="nav-link" href="/properties/show/<%= status.id %>"><%= status.status %></a>
  <% end %>
</nav>
<div class="container-fluid mt-2">
<div class="row ">
  <% @properties.sort { |a,b| a.id <=> b.id }.each do |property| %>
  <div class=" col-sm-12 col-md-3 col-lg-2 mb-1">
  <div class="card" style="">
    <div class="card-header" style="background-color: <%= property.status.color%>">
      <%= property.status.status%>
    </div>
    <img class="card-img-top" src="<%= property.img_url %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= property.address %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= property.city %>, <%= property.zip %></h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: <%= number_to_currency(property.price, :unit => "$") %></li>
      <li class="list-group-item">Square Feet: <%= property.square_feet %></li>
      <li class="list-group-item">Lot Size: <%= property.lot_size %></li>
    </ul>
    <div class="card-body">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= property.id %>">
      Status
      </button>
    </div>
  </div>

  <div class="modal fade" id="exampleModal<%= property.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/properties/show" >
            <div class="form-group">
             <input class="hide" name="id" value="<%= property.id %>">
              <label for="exampleFormControlSelect1">Example select</label>
              <select class="form-control" id="exampleFormControlSelect1" name="status_id">
              <% @statuses.sort { |a,b| a.id <=> b.id }.each do |status| %>
                <option value="<%= status.id %>" <% if property.status.id==status.id %>selected <% end %>><%= status.status %></option>
              <% end %>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2" >Update Status</button>
            <button  class="btn btn-primary mb-2" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  
  </div>
</div>